# 05. Data Assembly 연습과제
***

## 1. 데이터 만들기

In [44]:
import pandas as pd

In [45]:
# 2021학번 학생 데이터
students_2021_df = pd.DataFrame({
    'sid': [202101, 202102, 202103],
    'name' : ['Emma', 'Jack', 'Smith'],
    'sex': ['female', 'male', 'male']
})

# 2022학번 학생 데이터
students_2022_df = pd.DataFrame({
    'sid': [202201, 202202, 202203],
    'name' : ['Michel', 'Jenny', 'Jack'],
    'sex': ['male', 'female', 'male']
})

# 2023학번 학생 데이터
students_2023_df = pd.DataFrame({
    'sid': [202301, 202302, 202303],
    'name' : ['Olivia', 'Kevin', 'Jack'],
    'sex': ['female', 'male', 'male']
})

# 과목 데이터
courses_df = pd.DataFrame({
    'cid': [100, 200, 300],
    'name': ['Python', 'Algorithm', 'Big Data']
})

# Python 중간시험 결과
mid_py_scores_df = pd.DataFrame({
    'sid': [202301, 202302, 202303, 202201, 202302],
    'score': [70, 55, 85, 92, 100],
})

# Algorithm 중간시험 결과
mid_algo_scores_df = pd.DataFrame({
    'sid': [202201, 202202, 202203, 202101],
    'score': [85, 95, 90, 92]
})

# Big Data 중간시험 결과
mid_big_scores_df = pd.DataFrame({
    'sid': [202101, 202102, 202103],
    'score': [85, 95, 90]
})

## 2. 모든 학생 데이터 합치기 (concat)

In [46]:
all_students_df = pd.concat([students_2021_df, students_2022_df, students_2023_df], ignore_index=True)
print(all_students_df)

      sid    name     sex
0  202101    Emma  female
1  202102    Jack    male
2  202103   Smith    male
3  202201  Michel    male
4  202202   Jenny  female
5  202203    Jack    male
6  202301  Olivia  female
7  202302   Kevin    male
8  202303    Jack    male

## 3. 파이썬 중간시험 결과와 학생 데이터 연결하기 (merge)

In [47]:
merged_df = pd.merge(all_students_df, mid_py_scores_df, on='sid')
print(merged_df)

      sid    name     sex  score
0  202201  Michel    male     92
1  202301  Olivia  female     70
2  202302   Kevin    male     55
3  202302   Kevin    male    100
4  202303    Jack    male     85

## 4. 알고리즘 중간시험 결과와 학생 데이터 연결하기 (merge)

In [48]:
merged_df = pd.merge(all_students_df, mid_algo_scores_df, on='sid')
print(merged_df)

      sid    name     sex  score
0  202101    Emma  female     92
1  202201  Michel    male     85
2  202202   Jenny  female     95
3  202203    Jack    male     90

## 5. 빅데이터 중간시험 결과와 학생 데이터 연결하기 (merge)

In [49]:
merged_df = pd.merge(all_students_df, mid_big_scores_df, on='sid')
print(merged_df)

      sid   name     sex  score
0  202101   Emma  female     85
1  202102   Jack    male     95
2  202103  Smith    male     90

## 6. 모든 시험결과와 학생 데이터 연결하기 (concat & merge)

In [50]:
all_scores_df = pd.concat([mid_py_scores_df, mid_algo_scores_df, mid_big_scores_df])
merged_df = pd.merge(all_students_df, all_scores_df, on='sid')
print(merged_df)

       sid    name     sex  score
0   202101    Emma  female     92
1   202101    Emma  female     85
2   202102    Jack    male     95
3   202103   Smith    male     90
4   202201  Michel    male     92
5   202201  Michel    male     85
6   202202   Jenny  female     95
7   202203    Jack    male     90
8   202301  Olivia  female     70
9   202302   Kevin    male     55
10  202302   Kevin    male    100
11  202303    Jack    male     85

## 7. 과목정보가 유지되도록 모든 시험결과와 학생 데이터 연결하기 (new column & concat & merge)

In [51]:
# mid_py_scores_df['cid']=[100,100,100,100,100]
# mid_algo_scores_df['cid']=[200,200,200,200]
# mid_big_scores_df['cid']=[300,300,300]

mid_py_scores_df['cid']= 100
mid_algo_scores_df['cid']= 200
mid_big_scores_df['cid']= 300

all_scores_df = pd.concat([mid_py_scores_df, mid_algo_scores_df, mid_big_scores_df])
merged_df = pd.merge(all_students_df, all_scores_df, on='sid')

final_df = pd.merge(merged_df, courses_df, on="cid")
print(final_df)

       sid  name_x     sex  score  cid     name_y
0   202101    Emma  female     92  200  Algorithm
1   202201  Michel    male     85  200  Algorithm
2   202202   Jenny  female     95  200  Algorithm
3   202203    Jack    male     90  200  Algorithm
4   202101    Emma  female     85  300   Big Data
5   202102    Jack    male     95  300   Big Data
6   202103   Smith    male     90  300   Big Data
7   202201  Michel    male     92  100     Python
8   202301  Olivia  female     70  100     Python
9   202302   Kevin    male     55  100     Python
10  202302   Kevin    male    100  100     Python
11  202303    Jack    male     85  100     Python

## 8. 7 단계에서 생성된 데이터 프레임을 이용하여 파이썬 과목 평균점수 구하기(mean)

In [55]:
final_df[final_df.cid == 100]['score'].mean()

80.4

## 9. 7 단계에서 생성된 데이터 프레임을 이용하여 알고리즘 과목 남학생 평균점수 구하기(mean)

In [58]:
final_df[(final_df.cid == 200) & (final_df.sex == 'male')]['score'].mean()

87.5